<row>
    <columns small="12" large="5">
        <img src="https://vts.inxpo.com/FileLibrary/2536/15/maryland_d2.png" alt="Maryland">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>
<row>
    <columns small="12" large="5">
        <img src="https://presentations.inxpo.com/FileLibrary/2536/15/MICHIGAN_icon.png" alt="Michigan">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>
<row>
    <columns small="12" large="5">
        <img src="https://vts.inxpo.com/FileLibrary/2536/15/Mississippi_D2.png" alt="Mississippi">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>
<row>
    <columns small="12" large="5">
        <img src="https://vts.inxpo.com/FileLibrary/2536/15/MISSOURI_icon.png" alt="Missouri">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>
<row>
    <columns small="12" large="5">
        <img src="https://vts.inxpo.com/FileLibrary/2536/15/nebraska_icon.png" alt="Nebraska">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>
<row>
    <columns small="12" large="5">
        <img src="https://vts.inxpo.com/FileLibrary/2536/15/state_icon_template.png" alt="New Jersey">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>
<row>
    <columns small="12" large="5">
        <img src="https://vts.inxpo.com/FileLibrary/2536/15/newyork_d2.png" alt="New York">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>
<row>
    <columns small="12" large="5">
        <img src="https://vts.inxpo.com/FileLibrary/2536/15/n_carolina.png" alt="North Carolina">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>
<row>
    <columns small="12" large="5">
        <img src="https://vts.inxpo.com/FileLibrary/2536/15/ohio_icon.png" alt="Ohio">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>
<row>
    <columns small="12" large="5">
        <img src="https://vts.inxpo.com/FileLibrary/2536/15/OREGON_ICON.png" alt="Oregon">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>