<row>
    <columns small="12 section footer">
        <table class="callout">
            <tr>
                <th class="callout-inner">
                    <table class="row">
                        <tbody>
                            <tr>
                                <th class="small-12 large-12 columns first last">
                                    <table>
                                        <tr>
                                            <th>
                                                <p style="font-size: 11px;">This message is from INXPO on behalf of UnitedHealthcare. You are receiving this email because you subscribed to receive email about UHC On Air. To ensure that you are receiving all important channel notices
                                                    and reminders, be sure to add
                                                    <a href="mailto:$[SenderEMailAddress]$">$[SenderEMailAddress]$</a> to your address book. For more information, please view our <a href="https://presentations.inxpo.com/SharedContent/HTML/VX/whitelisting.htm">whitelisting instructions</a>.
                                                    <br><br>Please do not reply to this e-mail address; this mailbox is used for outbound e-mail only. Do not include any personal health information as part of any email communication. If you have questions
                                                    about your account, or would like additional information, please contact Amber Huggins at amber_huggins@uhc.com.<br><br>You have the right not to receive future emails. If you no longer want to receive
                                                    email communications about UHC On Air, please <a href="$[ActivityHandlerServerAddress]$/Launch/PSUnsubscribe.htm?DocumentDistributionHistoryKey=$[DocumentDistributionHistoryKey]$&amp;UnsubscribeType=2"
                                                        style="text-decoration: underline; color: #333333;">unsubscribe</a> from this mailing list. <a href="mailto:eventsupport@inxpo.com" style="text-decoration: underline; color: #333333;">Report email abuse</a>.
                                                    </span>
                                                </p>
                                            </th>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>
        </table>
    </columns>
</row>