<row>
    <columns small="12">
        <p class="lead"><u>National Programming:</u></p>
    </columns>
</row>
<row>
    <columns small="12" large="5">
        <img src="https://vts.inxpo.com/FileLibrary/2536/15/uhc_news_now_d1.png" alt="UHC NEWS NOW">
    </columns>
    <columns large="1">
    </columns>
    <columns small="12" large="6">
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
        <p>- TITLE (Channel Name channel): abstract</p>
    </columns>
</row>