<spacer size="17"></spacer>
<row>
    <columns small="12 section">
        <p class="lead">Support Information</p>
        <spacer size="7"></spacer>
        <p>If you have any questions or problems, please contact your administrator.</p>
        <spacer size="24"></spacer>
        <p><a href="https://$[ServerIPAddress]$/scripts/Server.nxp?LASCmd=AI:4;F:APIUTILS!10"><b><u>System Check</u></b></a></p>
        <p>Make sure that your computer is ready to view content.</p>
        <p><a href="https://content.inxpo.com/FileLibrary/2536/31/PCA-1-003156_08292016_UHC_On_Air_Flyer_102616r2.pdf"><b><u>FAQ</u></b></a></p>
        <p>New to UHC On Air? Check out the frequently asked questions.</p>
        <p><a href="mailto:blank"><b><u>Technical Support</u></b></a></p>
        <p>Need help? Click here for technical support.</p>
        <p><a href="https://presentations.inxpo.com/SharedContent/HTML/Computer_Tips/ComputerTips.htm"><b><u>Computer Tips</u></b></a></p>
        <p>Find useful tips to prepare your computer for the program.</p>
    </columns>
</row>
<spacer size="17"></spacer>